* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #019000;
  --secondary-color: #48a848;
  --bg-color: #81ee96;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
}

a {
  color: #fff;
}

#root {
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
