* {
  margin: 0;
  padding: 0;
}

:root {
  --red: #cc232a;
  --pink: #b57d7f;
}

body {
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
